<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Optional: declare camera feature -->
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewSight">

        <!-- Launcher Activity -->
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activities -->
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".HomeActivity" android:exported="true" />
        <activity android:name=".ReadTextActivity" android:exported="false" />

        <!-- Navigation Activities -->
        <activity android:name=".NavigateActivity" android:exported="true" />
        <activity android:name=".GetDirectionsActivity" android:exported="true" />

        <!-- Communication Activities -->
        <activity android:name=".CommunicateActivity" android:exported="true" />

        <!-- Observation / Detection -->
        <activity android:name=".ObserveActivity" android:exported="true" />
        <activity android:name=".DetectionActivity" android:exported="true" />

        <!-- Color Cue -->
        <activity android:name=".ColorCueActivity" android:exported="true" />

        <!-- Emergency -->
        <activity android:name=".EmergencyActivity" android:exported="true" />
        <activity android:name=".EmergencySetupActivity" android:exported="true" />

        <!-- Settings & Profile -->
        <activity android:name=".SettingsActivity" android:exported="true" />
        <activity android:name=".UserProfileActivity" android:exported="true" />
        <activity android:name=".TrustedContactsActivity" android:exported="true" />
        <activity android:name=".AddContactActivity" android:exported="true" />
        <activity android:name=".VoiceAndHapticsActivity" android:exported="true" />
        <activity android:name=".HelpAndSupportActivity" android:exported="true" />

        <!-- Optional / commented activities
        <activity android:name=".RemoveContactActivity" android:exported="true" />
        <activity android:name=".EditProfileActivity" android:exported="true" />
        <activity android:name=".PrivacyAndDataActivity" android:exported="true" />
        <activity android:name=".LogoutActivity" android:exported="true" />
        <activity android:name=".ObstacleActivity" android:exported="true" />
        -->
    </application>
</manifest>
